* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #333333;
  font-family: "Poppins", sans-serif;
}

.carousel-indicators {
  /* bottom: 50% !important; */
  /* top: 50% !important; */
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  margin-left: 1% !important;
  height: 500px;
  width: auto;
}

.carousel-indicators .active {
  visibility: visible;
}

.carousel-indicators li {
  z-index: 200 !important;
  text-indent: 0px !important;
  width: auto !important;
  height: 30px !important;
  display: flex !important;
  /* justify-content: space-between !important; */
  align-items: center !important;
  opacity: 0.5;
  background-color: transparent;
  visibility: hidden;
}

.li-div1 {
  height: 12px !important;
  width: 12px !important;
  border-radius: 100% !important;
  background-color: yellow !important;
  z-index: 200 !important;
  visibility: visible !important;
}

.li-div2 {
  margin-left: 20px;
  font-weight: bold;
  font-size: 16px;
  height: 30px;
  color: yellow;
  text-transform: uppercase;
  /* visibility: hidden; */
}

.slideshow {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slideshow-item {
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0;
  animation: cycleimages 40s infinite;
}

.slideshow-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoom 40s infinite;
}

.home {
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0;
  animation: cycleimages 31s infinite;
}

.home:nth-child(1),
.home:nth-child(1) img {
  animation-delay: 0s;
}

.home:nth-child(2),
.home:nth-child(2) img {
  animation-delay: 10s;
}
.home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoom 31s infinite;
}

.leadership {
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0;
  animation: cycleimages 31s infinite;
}

.leadership img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoom 31s infinite;
}

.leadership:nth-child(1),
.leadership:nth-child(1) img {
  animation-delay: 0s;
}

.leadership:nth-child(2),
.leadership:nth-child(2) img {
  animation-delay: 10s;
}

.business {
  width: inherit;
  height: inherit;
  position: absolute;
  /* opacity: 0; */
  animation: one 31s ease-in-out;
  animation-delay: 0s;
}

.business img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: one 31s ease-in-out;
  animation-delay: 0s;
}

.innovation:nth-child(1),
.innovation:nth-child(1) img {
  animation-delay: 0s;
}
.innovation:nth-child(2),
.innovation:nth-child(2) img {
  animation-delay: 10s;
}
.innovation:nth-child(3),
.innovation:nth-child(3) img {
  animation-delay: 20s;
}

.innovation:nth-child(4),
.innovation:nth-child(4) img {
  animation-delay: 30s;
}

.entrepreneur:nth-child(1),
.entrepreneur:nth-child(1) img {
  animation-delay: 0s;
}

.careers {
  width: inherit;
  height: inherit;
  position: absolute;
  /* opacity: 0; */
  animation: one 40s ease-in-out;
  animation-delay: 0s;
}

.careers img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: one 40s ease-in-out;
  animation-delay: 0s;
}

.apply-button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
  left: 0;
  right: 0;
  bottom: 20px;
  position: absolute;
  z-index: 1000;
}

.button {
  width: 200px;
  background-color: #000000;
  height: 50px;
  opacity: 0.3;
  font-size: 20px;

  text-transform: capitalize;
  z-index: 1000;

  color: #f0f0f0;
  border: 2px solid white;
  /* position: absolute; */
  /* background: transparent; */
}

.button:hover {
  background-color: royalblue;
  opacity: 0.5;
}

/* .slideshow-item:nth-child(2), */
/* .slideshow-item:nth-child(2) img { */
/* animation-delay: 10s; */
/* } */
/* .slideshow-item:nth-child(3), */
/* .slideshow-item:nth-child(3) img { */
/* animation-delay: 20s; */
/* } */

.slideshow-item-text {
  padding: 10rem 5rem;
  position: absolute;
  top: 50%;
  left: 25%;

  transform: translateY(-50%);
  max-width: 50%;
}

.popup {
  animation: showtext 2s ease;
  animation-delay: 20s;
}

@keyframes showtext {
  0% {
    color: red !important;
    text-transform: lowercase !important;
  }
  100% {
    visibility: hidden !important;
    color: black !important;
  }
}

@keyframes cycleimages {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@keyframes zoom {
  100% {
    transform: scale(1.3);
  }
}

@keyframes one {
  0% {
    opacity: 0.3;
  }
  25% {
    transform: scale(1.3);
    opacity: 0.5;
  }
  40% {
    transform: scale(1);
  }

  60% {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  .slideshow-item-text {
    max-width: 70%;
    padding: 5rem 3rem;
  }
  .slideshow-item-text h5 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .slideshow-item-text {
    max-width: 100%;
    padding: 2rem;
    top: initial;
    bottom: 0;
    transform: initial;
  }
  .slideshow-item-text h5 {
    font-size: 3rem;
  }
  .slideshow-item-text p {
    font-size: 1.4rem;
  }
}

.take-a-look {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.business-by-numbers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  width: 100%;
  margin: 0 auto;
}

.business-by-numbers-child {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 100%;
}
