* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #333333;
}

.slideshow {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slideshow-item {
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0;
  animation: cycleimages 31s infinite;
}

.slideshow-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoom 31s infinite;
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
  animation-delay: 0s;
}

.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img {
  animation-delay: 10s;
}
.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img {
  animation-delay: 20s;
}

.slideshow-item-text {
  color: #f0f0f0;
  padding: 10rem 5rem;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #000000;
  opacity: 0.5;
  transform: translateY(-50%);
  max-width: 50%;
}
.slideshow-item-text h5 {
  margin-bottom: 2.5rem;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
@keyframes cycleimages {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@keyframes zoom {
  100% {
    transform: scale(1.3);
  }
}

@media screen and (max-width: 1000px) {
  .slideshow-item-text {
    max-width: 70%;
    padding: 5rem 3rem;
  }
  .slideshow-item-text h5 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .slideshow-item-text {
    max-width: 100%;
    padding: 2rem;
    top: initial;
    bottom: 0;
    transform: initial;
  }
  .slideshow-item-text h5 {
    font-size: 3rem;
  }
  .slideshow-item-text p {
    font-size: 1.4rem;
  }
}
